body {
    display: grid;
   grid-template-rows:10% 10% 10% 10% 10% 10% 10% 10% 10% 10%;
    grid-template-columns:10% 10% 10% 10% 10% 10% 10% 10% 10% 10%;
    margin: 0px;
    background-color:deepskyblue;
    background-repeat: no-repeat;
    grid-gap: 80px;
    text-align: center;
    background-size: cover;
}



.for{
    
    grid-column: 2/2;
    grid-row: 3/3;
   
    
}

.mot {
    grid-column: 4/4;
    grid-row: 3/3;
    margin-top: px;
    background-color:
    font-family: fantasy;
    font-size: 20px;
    width: 200px;
}


    


.argfor1{
    grid-column: 2/2;
    grid-row: 4/4;
    background-color: azure;
    width: 350px;
    height: 150px;
    font-family: sans-serif;
    
}



.argmot1{
    grid-column: 4/4;
    grid-row: 4/4;
    background-color: azure;;
    width: 350px;
    height: 165px; 
    font-family: sans-serif;
}



    
#top, #bottom, #left, #right {
	background-color: black;
	position: fixed;
	}
	#left, #right {
		top: 0; bottom: 0;
		width: 15px;
		}
		#left { left: 0; }
		#right { right: 0; }
		
	#top, #bottom {
		left: 0; right: 0;
		height: 15px;
		}
		#top { top: 0; }
		#bottom { bottom: 0; }
